body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Poppins", Arial, sans-serif;
  font-weight: bold;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@import '@fontsource-variable/sora';

/* Tailwind's no-scrollbar utility */
::-webkit-scrollbar {
  display: none; /* Hides the scrollbar in Webkit-based browsers */
}



@tailwind base;
@tailwind components;
@tailwind utilities;
